openapi: 3.1.2
info:
  title: SDKWork Audio Backend API
  description: 'Backend API for SDKWork Audio application.

    Provides provider management, task administration, webhook handling, analytics,
    and system management.

    '
  version: 0.1.0
  contact:
    name: SDKWork
    url: https://sdkwork.com
  license:
    name: Proprietary
    url: https://sdkwork.com/terms
servers:
- url: https://api.sdkwork.com/backend/v3/api/audio
  description: Production server
- url: https://api-dev.sdkwork.com/backend/v3/api/audio
  description: Development server
- url: https://api-test.sdkwork.com/backend/v3/api/audio
  description: Test server
security:
- AuthToken: []
- AccessToken: []
tags:
- name: providerRoutes
  description: Provider route management
- name: tasks
  description: Task administration
- name: webhooks
  description: Webhook management
- name: analytics
  description: Usage analytics
- name: moderation
  description: Content moderation
- name: system
  description: System management
paths:
  /provider-routes:
    get:
      operationId: list
      summary: List provider routes
      description: List all provider routes.
      tags:
      - providerRoutes
      security:
      - AuthToken: []
      - AccessToken: []
      parameters:
      - $ref: '#/components/parameters/CursorPagination'
      responses:
        '200':
          description: List of provider routes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdkWorkListResponse'
    post:
      operationId: create
      summary: Create provider route
      description: Create a new provider route.
      tags:
      - providerRoutes
      security:
      - AuthToken: []
      - AccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProviderRouteRequest'
      responses:
        '201':
          description: Provider route created
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/ProviderRouteResponse'
      parameters: []
  /provider-routes/{providerRouteId}:
    get:
      operationId: retrieve
      summary: Get provider route
      description: Get details of a specific provider route.
      tags:
      - providerRoutes
      security:
      - AuthToken: []
      - AccessToken: []
      parameters:
      - name: providerRouteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Provider route details
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/ProviderRouteResponse'
    patch:
      operationId: update
      summary: Update provider route
      description: Update a provider route.
      tags:
      - providerRoutes
      security:
      - AuthToken: []
      - AccessToken: []
      parameters:
      - name: providerRouteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProviderRouteRequest'
      responses:
        '200':
          description: Provider route updated
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/ProviderRouteResponse'
  /tasks:
    get:
      operationId: list
      summary: List tasks
      description: List all tasks (admin).
      tags:
      - tasks
      security:
      - AuthToken: []
      - AccessToken: []
      parameters:
      - name: userId
        in: query
        schema:
          type: string
          format: uuid
        description: Filter by user
      - name: operationType
        in: query
        schema:
          type: string
          enum:
          - speech
          - transcription
          - translation
          - sound_effect
          - music
        description: Filter by operation type
      - name: status
        in: query
        schema:
          type: string
          enum:
          - queued
          - routing
          - submitted
          - running
          - succeeded
          - failed
          - cancelled
          - expired
          - needs_review
        description: Filter by status
      - $ref: '#/components/parameters/CursorPagination'
      responses:
        '200':
          description: List of tasks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdkWorkListResponse'
  /tasks/{taskId}:
    get:
      operationId: retrieve
      summary: Get task details
      description: Get details of a specific task (admin).
      tags:
      - tasks
      security:
      - AuthToken: []
      - AccessToken: []
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Task details
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/TaskDetailResponse'
  /tasks/{taskId}/retry:
    post:
      operationId: retry
      summary: Retry task
      description: Retry a failed task.
      tags:
      - tasks
      security:
      - AuthToken: []
      - AccessToken: []
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Task retry initiated
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/TaskResponse'
  /tasks/{taskId}/reconcile:
    post:
      operationId: reconcile
      summary: Reconcile task
      description: Reconcile a stuck task.
      tags:
      - tasks
      security:
      - AuthToken: []
      - AccessToken: []
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Task reconciliation initiated
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/TaskResponse'
  /provider-webhooks/{providerCode}:
    post:
      operationId: providerWebhooks.create
      summary: Accept webhook
      description: Accept a provider webhook.
      tags:
      - webhooks
      security:
      - ApiKey: []
      parameters:
      - name: providerCode
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Webhook accepted
  /webhook-events:
    get:
      operationId: webhookEvents.list
      summary: List webhook events
      description: List webhook events.
      tags:
      - webhooks
      security:
      - AuthToken: []
      - AccessToken: []
      parameters:
      - $ref: '#/components/parameters/CursorPagination'
      responses:
        '200':
          description: List of webhook events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SdkWorkListResponse'
  /webhook-events/{eventId}/replay:
    post:
      operationId: webhookEvents.replay
      summary: Replay webhook event
      description: Replay a webhook event.
      tags:
      - webhooks
      security:
      - AuthToken: []
      - AccessToken: []
      parameters:
      - name: eventId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Webhook event replayed
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/WebhookEventResponse'
  /analytics/usage:
    get:
      operationId: retrieve
      summary: Get usage analytics
      description: Get usage analytics.
      tags:
      - analytics
      security:
      - AuthToken: []
      - AccessToken: []
      parameters:
      - name: startDate
        in: query
        required: true
        schema:
          type: string
          format: date
        description: Start date
      - name: endDate
        in: query
        required: true
        schema:
          type: string
          format: date
        description: End date
      - name: groupBy
        in: query
        schema:
          type: string
          enum:
          - day
          - week
          - month
          default: day
        description: Group by period
      - name: operationType
        in: query
        schema:
          type: string
          enum:
          - speech
          - transcription
          - translation
          - sound_effect
          - music
        description: Filter by operation type
      responses:
        '200':
          description: Usage analytics
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SdkWorkApiResponse'
                - type: object
                  required:
                  - data
                  properties:
                    data:
                      type: object
                      required:
                      - item
                      properties:
                        item:
                          $ref: '#/components/schemas/UsageAnalyticsResponse'
components:
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: Authorization
      description: JWT access token
    AccessToken:
      type: apiKey
      in: header
      name: Access-Token
      description: Access token for API access
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for webhook authentication
  parameters:
    CursorPagination:
      name: cursor
      in: query
      schema:
        type: string
      description: Pagination cursor
  schemas:
    CreateProviderRouteRequest:
      type: object
      required:
      - providerCode
      - providerName
      - providerType
      - capabilities
      properties:
        providerCode:
          type: string
          description: Provider code
        providerName:
          type: string
          description: Provider name
        providerType:
          type: string
          enum:
          - openai
          - elevenlabs
          - azure
          - google
          - custom
          description: Provider type
        baseUrl:
          type: string
          format: uri
          description: Base URL
        apiKey:
          type: string
          description: API key
        capabilities:
          type: array
          items:
            type: string
            enum:
            - speech
            - transcription
            - translation
            - sound_effect
            - music
          description: Capabilities
        config:
          type: object
          description: Provider configuration
    UpdateProviderRouteRequest:
      type: object
      properties:
        providerName:
          type: string
          description: Provider name
        baseUrl:
          type: string
          format: uri
          description: Base URL
        apiKey:
          type: string
          description: API key
        capabilities:
          type: array
          items:
            type: string
            enum:
            - speech
            - transcription
            - translation
            - sound_effect
            - music
          description: Capabilities
        config:
          type: object
          description: Provider configuration
        status:
          type: string
          enum:
          - active
          - inactive
          - maintenance
          description: Status
    ProviderRouteListResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
        data:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/ProviderRoute'
            nextCursor:
              type: string
            hasMore:
              type: boolean
    ProviderRouteResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
        data:
          $ref: '#/components/schemas/ProviderRoute'
    ProviderRoute:
      type: object
      properties:
        providerRouteId:
          type: string
          format: uuid
        providerCode:
          type: string
        providerName:
          type: string
        providerType:
          type: string
          enum:
          - openai
          - elevenlabs
          - azure
          - google
          - custom
        baseUrl:
          type: string
          format: uri
        capabilities:
          type: array
          items:
            type: string
            enum:
            - speech
            - transcription
            - translation
            - sound_effect
            - music
        status:
          type: string
          enum:
          - active
          - inactive
          - maintenance
        healthStatus:
          type: string
          enum:
          - healthy
          - degraded
          - unhealthy
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    TaskListResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
        data:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/TaskSummary'
            nextCursor:
              type: string
            hasMore:
              type: boolean
    TaskDetailResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
        data:
          $ref: '#/components/schemas/TaskDetail'
    TaskResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
        data:
          type: object
          properties:
            taskId:
              type: string
              format: uuid
            status:
              type: string
              enum:
              - queued
              - routing
              - submitted
              - running
              - succeeded
              - failed
              - cancelled
              - expired
              - needs_review
    TaskSummary:
      type: object
      properties:
        taskId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        operationType:
          type: string
          enum:
          - speech
          - transcription
          - translation
          - sound_effect
          - music
        status:
          type: string
          enum:
          - queued
          - routing
          - submitted
          - running
          - succeeded
          - failed
          - cancelled
          - expired
          - needs_review
        createdAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
    TaskDetail:
      type: object
      properties:
        taskId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        operationType:
          type: string
          enum:
          - speech
          - transcription
          - translation
          - sound_effect
          - music
        status:
          type: string
          enum:
          - queued
          - routing
          - submitted
          - running
          - succeeded
          - failed
          - cancelled
          - expired
          - needs_review
        progress:
          type: number
          minimum: 0
          maximum: 1
        requestParams:
          type: object
        resultMetadata:
          type: object
        artifacts:
          type: array
          items:
            $ref: '#/components/schemas/Artifact'
        createdAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
    Artifact:
      type: object
      properties:
        artifactId:
          type: string
          format: uuid
        artifactKind:
          type: string
          enum:
          - audio
          - text
          - subtitle
          - waveform
          - metadata
        mediaKind:
          type: string
          enum:
          - speech
          - transcription
          - translation
          - sound_effect
          - music
        mimeType:
          type: string
        contentLength:
          type: integer
        durationMs:
          type: integer
        downloadUrl:
          type: string
          format: uri
    WebhookEventListResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
        data:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/WebhookEvent'
            nextCursor:
              type: string
            hasMore:
              type: boolean
    WebhookEventResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
        data:
          $ref: '#/components/schemas/WebhookEvent'
    WebhookEvent:
      type: object
      properties:
        eventId:
          type: string
          format: uuid
        providerCode:
          type: string
        eventType:
          type: string
        payload:
          type: object
        status:
          type: string
          enum:
          - pending
          - processed
          - failed
          - replayed
        createdAt:
          type: string
          format: date-time
    UsageAnalyticsResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
        data:
          type: object
          properties:
            totalRequests:
              type: integer
            totalDuration:
              type: integer
            totalCharacters:
              type: integer
            breakdown:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  requests:
                    type: integer
                  duration:
                    type: integer
                  characters:
                    type: integer
    SdkWorkApiResponse:
      type: object
      additionalProperties: false
      required:
      - code
      - data
      - traceId
      properties:
        code:
          type: integer
          format: int32
          enum:
          - 0
          default: 0
          minimum: 0
          maximum: 0
        data:
          description: Operation-specific payload typed per response schema.
        traceId:
          type: string
          format: uuid
          description: Server-owned request correlation id.
    SdkWorkResourceData:
      type: object
      additionalProperties: false
      required:
      - item
      properties:
        item:
          type: object
          additionalProperties: true
          description: Typed domain resource for the operation.
    SdkWorkPageData:
      type: object
      additionalProperties: false
      required:
      - items
      - pageInfo
      properties:
        items:
          type: array
          items:
            type: object
            additionalProperties: true
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
    SdkWorkCommandData:
      type: object
      additionalProperties: false
      required:
      - accepted
      properties:
        accepted:
          type: boolean
          const: true
        resourceId:
          type: string
        status:
          type: string
    PageInfo:
      type: object
      additionalProperties: false
      required:
      - mode
      properties:
        mode:
          type: string
          enum:
          - offset
          - cursor
        page:
          type: integer
          minimum: 1
        pageSize:
          type: integer
          minimum: 1
          maximum: 200
        totalItems:
          type: string
          pattern: ^[0-9]+$
        totalPages:
          type: integer
          minimum: 0
        nextCursor:
          type:
          - string
          - 'null'
        hasMore:
          type: boolean
    SdkWorkPlatformErrorCode:
      type: integer
      format: int32
      minimum: 40001
      maximum: 79999
      description: "Platform or domain error code per API_SPEC.md 鎼\uDC8215.3."
    ProblemDetail:
      type: object
      additionalProperties: true
      required:
      - type
      - title
      - status
      - code
      - traceId
      properties:
        type:
          type: string
          format: uri-reference
        title:
          type: string
        status:
          type: integer
          minimum: 100
          maximum: 599
        detail:
          type: string
        instance:
          type: string
        code:
          $ref: '#/components/schemas/SdkWorkPlatformErrorCode'
        traceId:
          type: string
          format: uuid
          description: Server-owned request correlation id.
        i18nKey:
          type: string
          description: Optional stable localization key such as errors.result.40001.
        locale:
          type: string
          description: Optional effective BCP 47 locale used by framework message
            mapping.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/FieldError'
    FieldError:
      type: object
      additionalProperties: false
      required:
      - field
      - message
      properties:
        field:
          type: string
        message:
          type: string
        code:
          type: integer
          format: int32
          minimum: 40011
          maximum: 40099
        i18nKey:
          type: string
        params:
          type: object
          additionalProperties:
            oneOf:
            - type: string
            - type: number
            - type: integer
            - type: boolean
    SdkWorkResourceResponse:
      allOf:
      - $ref: '#/components/schemas/SdkWorkApiResponse'
      - type: object
        required:
        - data
        properties:
          data:
            $ref: '#/components/schemas/SdkWorkResourceData'
    SdkWorkListResponse:
      allOf:
      - $ref: '#/components/schemas/SdkWorkApiResponse'
      - type: object
        required:
        - data
        properties:
          data:
            $ref: '#/components/schemas/SdkWorkPageData'
    SdkWorkCommandResponse:
      allOf:
      - $ref: '#/components/schemas/SdkWorkApiResponse'
      - type: object
        required:
        - data
        properties:
          data:
            $ref: '#/components/schemas/SdkWorkCommandData'
